<h3 mat-dialog-title>Edição de Registro</h3>

<mat-dialog-content [formGroup]="form">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
        fxLayout.xs="column" fxLayoutAlign.xs="center stretch" fxLayoutGap.xs="0">
        <mat-form-field fxFlex="50%">
          <input matInput formControlName="codigo" placeholder="Código">
        </mat-form-field>
        <mat-form-field fxFlex="50%" formGroupName="tpConta">
          <mat-select formControlName="valor" (selectionChange)="changeTpConta($event)" placeholder="Tipo">
            <mat-option *ngFor="let v of TpConta" [value]="v.valor">{{v.descricao}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
        fxLayout.xs="column" fxLayoutAlign.xs="center stretch" fxLayoutGap.xs="0">
        <mat-form-field fxFlex="100%">
          <input matInput formControlName="descricao" placeholder="Descrição">
        </mat-form-field>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!form.valid">Salvar</button>
  <button class="mat-raised-button" (click)="close()">Cancelar</button>
</mat-dialog-actions>
